.profile {
  color: #011856;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 100%;
  background-color: #fff;
  font-weight: 500 !important;
  border: 2px solid;
  cursor: pointer;
  font-size: 14px !important;
  text-transform: uppercase;
  padding: 0 !important;    margin: 0 !important;
}
.backToHomedivOuter{display: flex; align-items: center;gap: 2rem;}
.backToHomediv{display: flex;align-items: center;}
.backToHome{
    font-size: 13px;
    background: #001b66;
    border: none;
    font-weight: 600;
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 10px;
    font-family: 'Poppins';
    text-decoration: none;
}
.backToHome img{
  vertical-align: middle;
  margin: 0 5px;
}
::ng-deep{
  header .mat-toolbar.mat-primary .mat-icon {
    float: none !important;
    font-size: 24px;
    top: 0px;
  }
}
:host ::ng-deep.mat-form-field-label-wrapper{top: -1.8em !important;
    margin-top: 2px;}
    :host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-top: 20px !important;
    }

.setLabelRed{
    color: red;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #F53100;
  font-size: 10px;
  margin: 50px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.wrab-div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.loader-wrap{   
    position: absolute;
    margin:-55px auto 0px auto;
    left: 50%;
    text-align: center;
  } 
@media(min-width:601px){
  ::ng-deep .insurer{padding-top: 34px !important;}
  ::ng-deep .sec3 .logo-panel{margin-top:5px;}
  ::ng-deep .sec3  .logo-panel .mat-icon{
    height: 19px;
    width: 20px;
    margin-left: -16px;
    margin-right: 7px;
    margin-top: -4px;
    text-align: center
  }

  
}

@media(min-width:601px) and (max-width:991px){
  .item span{font-size: 12px !important;}
  .newpp{padding: 5px 13px !important;}
  .item{padding-bottom: 0px!important;
    padding-top: 0px!important;
    line-height: 21px !important;}
    ::ng-deep  .mat-toolbar span{margin-top:7px !important;}
}

@media(min-width:992px){
  ::ng-deep .mat-tab-body-wrapper{border-radius: 3px;}
  .newpp, .sec3{border-radius: 3px;}
  ::ng-deep .mat-tab-label{border-radius: 3px;}
  .item{    padding-bottom: 4px !important;
    padding-top: 0px;
    line-height: 18px;    border-bottom: 1px dashed #13d6a1 !important;}
}

.contact100-form-btn{border-radius:4px;}

.pinc{
  color:#000 !important;
}
 ::ng-deep  header .mat-toolbar.mat-primary .mat-icon{
  margin-left:5px;
}

.btn-tab button{
  border: 1px solid #cc0001;
  padding: 10px;
  background: #fff;
  font-size: 15px;
  color: #858080;
  font-weight: 700;
}
.btn-tab .active{
  background-color: #cc0001;
  color: #fff;
}
.btn-tab button.complete{
  background-color: #cc0001 !important;
  color: #fff;
}
.personal-details{
  position: relative;
  .material-icons{
    color: #fff !important;
    font-size: 16px;
  }
}

.personal-details::before {
  content: "";
  position: absolute;
  top: -12px;
  margin: auto;
  height: 0px;
  right: -24px;
  border-style: solid;
  border-width: 30px 0px 30px 32px;
  border-color: transparent #fff;
  border-radius: 10px;
  display: block;
  width: 0;
  z-index: 2;
}

.personal-details::after {
  content: "";
  position: absolute;
  top: -13px;
  margin: auto;
  height: 0px;
  right: -25px;
  border-style: solid;
  border-width: 31px 0px 32px 33px;
  border-color: transparent #cc0001;
  border-radius: 10px;
  display: block;
  width: 0;
  z-index: 1;
}
.complete.personal-details::before {
  z-index: -1;
}

.complete.personal-details::after,.complete.personal-details::before {
  content: none;
  position: none;
  top: none;
  margin: none;
  height: none;
  right: none;
  border-style: none;
  border-width: none;
  border-color: none;
  display: none;
  width: none;
  z-index: none;
}
.active.personal-details{
  .material-icons{
    position: relative;
    z-index: -1;
  }
}
.active.personal-details::after {
  border-color: transparent #cc0001;
  z-index: 3;
}
.back {
  font-size: 13px;
  background: #fff;
  padding: 12px 15px 25px 11px;
  line-height: 15px;
  height: 15px;
  border: 1px solid #cc0001;
  color: #cc0001 !important;
  float: left;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.second-row{
  background-color: #fff;
  border-radius: 10px;
    padding: 16px;
    margin-bottom: 12px;
    h3{
      font-size: 18px !important;
      span{
        margin-right: 20px;
      }
    }
    h5{
      color:#605b5b;
      span{
        font-weight: 500;
        color:#605b5b;
        margin-right:20px;
      }
    }
}
.first-row{
  h3{
    font-size: 18px !important;
  }
  h5{
    span{
      color:#252323;
    }
  }
}
@media(min-width:320px) and (max-width:425px){
  h2{
    font-size: 12px;
  }
 
  .btn-tab button{
    font-size: 10px;
  }
  .contact100-form-btn{
    padding: 6px 20px !important;
  }
  .back {
    font-size: 9px !important;
  }
}
.change-insurer{
  font-size:12px;
  text-align: center;
   margin: 0;
   :hover{
    color: #cc0001;
    cursor: pointer;
   }
}
@media (max-width:991px){
.container{
  max-width: 90% !important;
  margin: auto !important;
}

  .personal-details::after, 
  .personal-details::before {
    display: none;
  }
}