
<div *ngIf="openDilogFor=='ADDON_COVER'">
    <h2 matDialogTitle>Addons Selected</h2>
    <!-- <p>
    Please opt this Compulsory Personal Accident Cover, only if you have valid driving license. You can skip this cover, if you have personal accident policy of Rs 15 Lakhs or have another motor insurance policy with "Compulsory Personal Accident Cover" of Rs 15 Lakhs sum insured. This is as per IRDAI mandate. Do you want to continue?
    </p> -->
    <p>
       Zero Dept and Return to Invoice are selected for previous insurer
    </p>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" class="price" (click)="onNoClick(0)">Yes</button>
        <button mat-raised-button color="warn" class="price" (click)="onNoClick(1)" cdkFocusInitial>No</button>
      </div>
      
</div>
