<footer id="footer">
   <div class="footer-top bg-color">
      <div class="container">
         <div class="row d-block footer-ml footer-row">
            <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" class="footer-mr footer-lft footer-col">
               <img src="assets/logo.svg" alt="ginteja-Logo" class="img-fluid ginteja-Logo">

               <div class="social-links text-center mt-4">
                  <a href="" class="facebook" target="_blank">
                     <img src="assets/quote/img/twittrs.png" alt="ginteja-Logo" class="img-fluid">
                  </a>
                  <a href="" class="twitter" target="_blank">
                     <img src="assets/quote/img/fb.png" alt="ginteja-Logo" class="img-fluid">
                  </a>

                  <a href="" class="instagram" target="_blank">
                     <img src="assets/quote/img/linkedin.png" alt="ginteja-Logo" class="img-fluid">
                  </a>
                  <a href="" class="linkedin" target="_blank">
                     <img src="assets/quote/img/instragram.png" alt="ginteja-Logo" class="img-fluid">
                  </a>
               </div>
            </div>

            <div class="footer-link-header footer-col" fxFlex="25" fxFlex.xs="100" fxFlex.sm="100">
               <h3 class="footer-m-header">Get Insured</h3>
               <ul class="foot-link">
                  <li>
                     <a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon> Car
                        Insurance</a>
                  </li>
                  <li>
                     <a href="javascript:void(0);">
                        <mat-icon>keyboard_arrow_right</mat-icon> Bike Insurance
                     </a>
                  </li>
                  <li>
                     <a href="javascript:void(0);">
                        <mat-icon>keyboard_arrow_right</mat-icon> Life Insurance
                     </a>
                  </li>
                  <li>
                     <a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon> Health
                        Insurance</a>
                  </li>
                  <li>
                     <a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon> Term
                        Insurance</a>
                  </li>
                  <li>
                     <a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon> Travel
                        Insurance</a>
                  </li>
               </ul>
               <div class="pt-5">
                  <a href="https://www.irdai.gov.in/" target="_blank">
                     <img src="assets/irda.png" class="img-fluid irda-logo">
                  </a>
               </div>
            </div>

            <div class="footer-link-header footer-col" fxFlex="25" fxFlex.xs="100" fxFlex.sm="100">
               <h3 class="footer-m-header">Quick Links</h3>
               <ul class="foot-link">
                  <li><a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon>Home</a></li>
                  <li><a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon> About Us</a></li>
                  <li><a href="https://blog.gintejainsurance.com/"
                        target="_blank"><mat-icon>keyboard_arrow_right</mat-icon> Blog</a></li>
                  <li><a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon> Claim</a></li>

                  <li>
                     <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#PolicyCancellation">
                        <mat-icon> keyboard_arrow_right </mat-icon> Policy Cancellation
                        &amp; Refund
                     </a>
                  </li>
                  <li>
                     <a href="javascript:void(0);">
                        <mat-icon> keyboard_arrow_right </mat-icon> Careers</a>
                  </li>

                  <li>
                     <a href="javascript:void(0);">
                        <mat-icon> keyboard_arrow_right </mat-icon> POSP Agreement</a>
                  </li>

                  <li>
                     <a href="javascript:void(0);"> <mat-icon> keyboard_arrow_right </mat-icon> Grievance Policy</a>
                  </li>

                  <li>
                     <a href="javascript:void(0);">
                        <mat-icon> keyboard_arrow_right </mat-icon> Privacy &amp; Policy</a>
                  </li>

                  <li>
                     <a href="https://blog.gintejainsurance.com/annual-return/" target="_blank">
                        <mat-icon> keyboard_arrow_right </mat-icon> Annual Return</a>
                  </li>

                  <li>
                     <a href="javascript:void(0);">
                        <mat-icon> keyboard_arrow_right </mat-icon> Disclaimer</a>
                  </li>
               </ul>
            </div>

            <div class="footer-link-header footer-col" fxFlex="25" fxFlex.xs="100" fxFlex.sm="100">
               <div class="footer-contact position-relative">
                  <h3 class="footer-m-header">Ginteja Insurance Brokers Private Limited</h3>
                  <p class="my-1">
                     <small class="footer-fz">IRDAI Broker Registration Code: IRDAI/DB918/2022</small>
                  </p>
                  <p class="mb-1 footer-fz"><small>Registration No: 828</small></p>
                  <p class="mb-1 footer-fz"><small>Direct Broker (Life &amp; General)</small></p>
                  <p class="mb-1 footer-fz"><small>Valid upto: 03/07/2025</small></p>
                  <p class="mb-1 footer-fz"><small>CIN No. - U66000WB2021PTC243249</small></p>
                  <h3 class="footer-m-header">
                     Contact Us
                  </h3>
                  <ul>

                     <li class="mb-3">
                        <mat-icon>
                           location_on
                        </mat-icon>
                        <span class="footer-fz">Registered Office : 25D, Harish Mukherjee Road 1E, 1st Floor Kolkata
                           700025</span>
                     </li>
                     <li class="mb-3">
                        <mat-icon>phone_in_talk</mat-icon>
                        <span class="footer-fz">
                           080 6905 7777
                        </span>
                     </li>
                     <li class="mb-3">
                        <mat-icon>phone_in_talk</mat-icon>
                        <span class="footer-fz">
                           1800 3099 444
                        </span>
                     </li>

                     <li class="mb-3">
                        <mat-icon>mail</mat-icon>
                        <span class="footer-fz">help@ginteja.com</span>
                     </li>
                  </ul>
               </div>
            </div>
         </div>

         <p class="quote-footer footer-ml footer-p">
            <small>Insurance is the subject matter of the solicitation. For more details on policy terms, conditions,
               exclusions, limitations, please refer/read policy brochure carefully before concluding sale</small>
         </p>
         <hr>
         <p class="quote-footer footer-ml footer-p-2 cpy-sec">Ginteja Insurance Brokers Private Limited. All rights Reserved Copyright
            ©2022</p>
      </div>
   </div>
</footer>