<div  class="quoteBodyBackground" >
   <mat-toolbar class="quote_header" color="primary">
     <header class="container">
       <div style="background-color: #fff;" fxLayoutAlign="left" fxFlex="20" class="one" *ngIf="showlogo">
         <img (click)="homepage()" src="assets/ginteja-logo.svg"
           alt="logo" height="67">
         <!-- <span fxLayoutAlign="right"> CAR INSURANCE </span> -->
       </div>
       <div fxFlex fxLayout fxLayoutAlign="flex-end" fxFlex="85" fxHide fxShow.gt-sm  style="gap: 1rem;">
         <div fxLayout="row" fxHide fxShow.gt-sm style="align-items: center;">
           <button fxHide fxShow.gt-sm mat-button [matMenuTriggerFor]="menu" style="font-weight: 600;">
             Insurance Products
             <mat-icon fxLayoutalign="right" aria-hidden="false" aria-label="Example keyboard_arrow_down icon">
               keyboard_arrow_down
             </mat-icon>
           </button>

           <button fxHide fxShow.gt-sm mat-button style="font-weight: 600;">
            Claim

           </button>

           <button (click)="supportLink()" fxHide fxShow.gt-sm mat-button style="font-weight: 600;">Support</button>
           <button (click)="supportLink()" fxHide fxShow.gt-sm mat-button style="font-weight: 600;">Blog</button>
           <!-- <button fxHide fxShow.gt-sm mat-button *ngIf="!isLoggedIn" (click)="openDialogLongin()">
             LOGIN
           </button> -->

           <!-- <button fxHide fxShow.gt-sm mat-button *ngIf="!isLoggedIn"
           Style="color: #fff!important; background: #fb542f; border-radius: 5px; font-size: 11px; padding: 9px 10px 10px; margin-right: 5px;">
           </button> -->

           <!-- <a href="" fxHide fxShow.gt-sm mat-button
             Style="color: #fff!important; background: #cc0001; border-radius: 5px; font-size: 11px; padding: 9px 10px 10px; margin-right: 5px;">
            Login
           </a>

           <a href="" fxHide fxShow.gt-sm mat-button *ngIf="isLoggedIn"
             Style="color: #fff!important;background: #cc0001;border-radius: 5px;font-size: 11px;padding:9px 10px 10px; margin-right:5px;">
            Logout
           </a> -->

           <!-- <button (click)="registrationPage()"></button> -->

         </div>
         <div class="backToHomediv" *ngIf="isRollType8">
            <a [href]="POSP_URL" class="backToHome">  
              <img  src="assets/backtohome.png">
              Back To Home</a>
          </div>
          <div class="backToHomediv" *ngIf="isRollType8">
            <img class="profile" *ngIf="isPospImg" [src]="POSP_img" onerror="this.onerror=null; this.src='assets/utill/user-dummy.png';" alt="Profile Image">
            <span *ngIf="!isPospImg" class="profile"> {{this.POSPshortname}}</span>
          </div>
       </div>


       <ng-template #moo3>
         <mat-dialog-actions>
           <div fxLayout="row" fxFlex="100" class="mat-primary">
             <button mat-button [matMenuTriggerFor]="menu">
               Insurance Type
               <mat-icon fxLayoutalign="right" aria-hidden="false" aria-label="Example keyboard_arrow_down icon">
                 keyboard_arrow_down
               </mat-icon>
             </button>
             <button mat-button [matMenuTriggerFor]="menuCom">
               Insurance Company
               <mat-icon fxLayoutalign="right" aria-hidden="false" aria-label="Example keyboard_arrow_down icon">
                 keyboard_arrow_down
               </mat-icon>
             </button>
             <button mat-button [matMenuTriggerFor]="menu">Support</button>
             <button mat-button *ngIf="!isLoggedIn">
               <a href="https://www.gibl.in/login.php" mat-button>Login</a>
             </button>
             <button mat-button (click)="logout()" *ngIf="isLoggedIn">Logout</button>
             <button mat-button [matMenuTriggerFor]="menu" *ngIf="!isLoggedIn">Register</button>
           </div>
         </mat-dialog-actions>
       </ng-template>
     </header>
     <mat-menu x-position="before" #life="matMenu">
       <button mat-menu-item><a href="https://www.gibl.in/life-insurance/life-insurance-plans/term-plans/">Term
           Insurance</a></button>
       <button mat-menu-item><a
           href="https://www.gibl.in/life-insurance/life-insurance-plans/retirement-plans/">Retirement
           Plans</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/life-insurance/life-insurance-plans/child-plans/">Child
           Plans</a></button>
       <button mat-menu-item><a
           href="https://www.gibl.in/life-insurance/life-insurance-plans/ulip-plans/">ULIPS</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/life-insurance/life-insurance-plans/group-plans/">Group
           Plans</a></button>
     </mat-menu>
     <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item><a [href]="carInsurUrl">Car Insurance</a></button>
      <button mat-menu-item><a [href]="healthInsurUrl">Health Insurance</a></button>
      <button mat-menu-item><a [href]="bikeInsurUrl">Two Wheeler
          Insurance</a></button>
      <button mat-menu-item><a [href]="travelInsurUrl">Travel Insurance</a></button>
      <button mat-menu-item><a [href]="cvInsurUrl">Commercial Vehicle
        Insurance</a></button>
        <button mat-menu-item><a [href]="termInsurUrl">Term Insurance</a></button>
        <!-- <button mat-menu-item><a href="https://www.gibl.in/personal-accident-insurance/">Personal Accident
            Insurance</a></button>
      <button mat-menu-item><a href="https://www.gibl.in/life-insurance/">Life Insurance</a></button>
      <button mat-menu-item><a href="https://www.gibl.in/health-insurance/critical-illness-insurance/">Critical
          Illness
          Insurance</a></button>
      <button mat-menu-item><a href="https://www.gibl.in/gadget-insurance/">Gadget Insurance</a></button> -->
    </mat-menu>
     <mat-menu x-position="before" #menuCom="matMenu">
       <button mat-menu-item><a href="https://www.gibl.in/national-insurance/">National Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/new-india-assurance/">New India Assurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/united-india-insurance-uiic/">United India
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/hdfc-ergo-insurance/">HDFC ERGO General
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/star-health-insurance/">Star Health
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/oriental-insurance/">Oriental Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/bajaj-allianz-insurance/">Bajaj Allianz General
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/iffco-tokio-insurance/">Iffco Tokio General
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/sbi-general-insurance/">SBI General
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/max-bupa-insurance/">MaxBupa Health
           insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/apollo-munich-insurance/">Apollo Munich Health
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/bharti-axa-insurance/">Bharti AXA General
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/tata-aig-insurance/">Tata AIG Greneral
           Insurance</a></button>
       <button mat-menu-item><a href="https://www.gibl.in/universal-sompo-insurance/">Universal Sompo General
           Insurance </a></button>
     </mat-menu>
   </mat-toolbar>



   <div class="containerX">
      <div class="container" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="left" fxLayoutGap=""
         fxLayoutGap.xs="0">


         <div class="item item-2 image-section" *ngIf="makeActive" fxFlex="50%" fxHide.xs fxHide.sm fxFlex.lt-md="100%" fxFlexOrder="1">
            <h1 style="font-weight: bold;color:#cc0001">Car Insurance</h1>
            <!-- <h3 class="hidden-xs" [ngClass.lt-md]="{'mob-txt':true}">Save upto 50% on Car Insurance</h3>
               <h4 [ngClass.lt-md]="{'mob-txt':true}">A great rate is just a few clicks away!</h4> -->
            <p [ngClass.lt-md]="{'mob-txt':true}" class="main-text">Save upto <span style="color:#cc0001">50% </span>on Car Insurance</p>
            <p [ngClass.lt-md]="{'mob-txt':true}" class="sub-text">A great rate is just a few clicks away!</p>

            <img src="assets/quote/img/car-quote.png" width="450">


         </div>


         <div class="item item-3 image-section" *ngIf="modelActive" fxFlex="50%" fxHide.xs fxHide.sm fxFlex.lt-md="100%" fxFlexOrder="1">
            <!-- <h3 [ngClass.lt-md]="{'mob-txt':true}">Save upto 50% on Car Insurance</h3>
               <h4 [ngClass.lt-md]="{'mob-txt':true}">A great rate is just a few clicks away!</h4> -->
            <p [ngClass.lt-md]="{'mob-txt':true}" class="main-text">
               Save upto
               <span style="color:#cc0001">
                  50%
               </span>
               on Car Insurance
            </p>
            <p [ngClass.lt-md]="{'mob-txt':true}"  class="sub-text">
               A great rate is just a few clicks away!
            </p>
            <p class="motor_banner_p" fxHide="true" fxShow.gt-sm >
               Your choosing of the right car model will help us find the right coverage for you
            </p>
            <img src="assets/quote/img/car-quote.png" width="450">
         </div>



         <div class="item item-4 image-section" *ngIf="fuelActive" fxFlex="50%" fxHide.xs fxHide.sm fxFlexOrder="1">
            <!-- <h3 [ngClass.lt-md]="{'mob-txt':true}">Save upto 50% on Car Insurance</h3>
               <h4 [ngClass.lt-md]="{'mob-txt':true}">A great rate is just a few clicks away!</h4> -->
            <p [ngClass.lt-md]="{'mob-txt':true}" class="main-text">Save upto <span style="color:#cc0001">50% </span> on Car Insurance</p>
            <p [ngClass.lt-md]="{'mob-txt':true}" class="sub-text">A great rate is just a few clicks away!</p>
            <p class="motor_banner_p" fxHide="true" fxShow.gt-sm>
               Now tell us what type of fuel your car engine uses
            </p>
            <img src="assets/quote/img/car-quote.png" width="450">
         </div>


         <div class="item item-5 image-section" *ngIf="variantActive" fxFlex="50%" fxHide.xs fxHide.sm fxFlex.lt-md="100%" fxFlexOrder="1">
            <!-- <h3 [ngClass.lt-md]="{'mob-txt':true}">Save upto 50% on Car Insurance</h3>
               <h4 [ngClass.lt-md]="{'mob-txt':true}">A great rate is just a few clicks away!</h4> -->
            <p [ngClass.lt-md]="{'mob-txt':true}" class="main-text">Save upto <span style="color:#cc0001">50% </span>on Car Insurance</p>
            <p [ngClass.lt-md]="{'mob-txt':true}" class="sub-text">A great rate is just a few clicks away!</p>
            <p class="motor_banner_p" fxHide="true" fxShow.gt-sm>
               Choose the correct variant of your car from the list.<br>
               You can manually type your car’s variant if it’s not visible in the list.
            </p>
            <img src="assets/quote/img/car-quote.png" width="450">
         </div>

         <div class="item item-6 image-section" *ngIf="registrationActive" fxFlex="50%" fxHide.xs fxHide.sm fxFlex.lt-md="100%" fxFlexOrder="1">
            <!-- <h3 [ngClass.lt-md]="{'mob-txt':true}">Save upto 50% on Car Insurance</h3>
               <h4 [ngClass.lt-md]="{'mob-txt':true}">A great rate is just a few clicks away!</h4> -->
            <p [ngClass.lt-md]="{'mob-txt':true}" class="main-text">Save upto <span style="color:#cc0001">50% </span> on Car Insurance</p>
            <p [ngClass.lt-md]="{'mob-txt':true}" class="sub-text">A great rate is just a few clicks away!</p>
            <p class="motor_banner_p" fxHide="true" fxShow.gt-sm>The city or town that your car is registered in can affect the amount of car insurance premium. Make sure you select the right RTO from the list.
            </p>
            <img src="assets/quote/img/car-quote.png" width="450">
         </div>

         <div class="item item-7 image-section" *ngIf="contactActive" fxFlex="50%" fxHide.xs fxHide.sm fxFlex.lt-md="100%" fxFlexOrder="1">
            <!-- <h3 [ngClass.lt-md]="{'mob-txt':true}">Save upto 50% on Car Insurance</h3>
               <h4 [ngClass.lt-md]="{'mob-txt':true}">One last step!</h4> -->
            <p [ngClass.lt-md]="{'mob-txt':true}" class="main-text">Save upto <span style="color:#cc0001">50% </span> on Car Insurance</p>
            <p [ngClass.lt-md]="{'mob-txt':true}" class="sub-text">One last step!</p>
            <p class="motor_banner_p" fxHide="true" fxShow.gt-sm>Providing the correct details is very important. It will help us to fetch you customized car insurance quotes.</p>
            <img src="assets/quote/img/car-quote.png" width="450">
         </div>



         <mat-horizontal-stepper fxFlexOrder="1" fxFlex="50%" style="width: 100%; border-radius: 10px;"
         (selectionChange)="selectionChange($event)" [linear]="isLinear" #stepper>

         <mat-step [stepControl]="brandFormGroup">
            <div class="topic">
               <!-- <h1>What's the brand of your car?</h1> -->
               <p style="font-size:16px !important;margin-top:4px;display:block;font-weight:bold;">What's the brand of your car?</p>
            </div>
            <div fxLayout="row" style="height: 80px;" fxLayoutAlign="center center"
               *ngIf="jsonLoader">
               <div id="registration-loader" style="text-align:center">
                  <div class="loader">Loading...</div>
               </div>
            </div>

            <form [formGroup]="brandFormGroup">
               <ng-template matStepLabel matTabContent>
                  <span [ngClass]="{'mat-step-label-selected-color':selectedStepperIndex!=1}"
                  [ngClass.lt-md]="{'hideme':true}" *ngIf="brandName?.length>12;else brandNameTooltip"
                  matTooltipClass="example-tooltip-red" matTooltip="{{brandName}}" [matTooltipPosition]="'above'"
                  class="example-button">{{brandName|slice:0:12}}..</span>
                  <ng-template #brandNameTooltip>
                     <div [ngClass]="{'mat-step-label-selected-color':selectedStepperIndex!=1}">{{brandName}}</div>
                  </ng-template>
               </ng-template>
               <div fxFlex="100%" fxFlexFill *ngIf="!jsonLoader">
                  <ng-select style="margin-top: 50px;padding-right: 10x;font-size: 13px;text-align: left;"
                  [virtualScroll]=true [items]="totalBrandList" bindLabel="name" (change)="brandChanged($event.id);track_button('create-brand-btn')"
                  dropdownPosition="bottom" [appendTo]="'body'" placeholder="Not in the list? Find your car's brand here">
                  </ng-select>
               </div>
            </form>
            <div class="good-make" id="top-brand" style="margin-top:23px" *ngIf="!jsonLoader">
               <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center">
                  <ng-container *ngFor="let item of topBrandList">
                     <div class="img-wrap brand-wrap"
                        fxFlex="0 1 calc(20.3% - 5px)" fxFlex.lt-md="0 1 calc(40% - 10x)" fxLayout.lt-sm="row"
                        fxFlex.xs="30%" fxLayout.xs="column" fxLayout.sm="50%" fxLayout.md="50%" >
                        <a class="good-make-wrap brand-wrap" (click)="move(2);makeTapped(item.brand_name,item.brand_code,'',item.id);track_button('create-brand-btn')" href="JavaScript:void(0);" [ngClass]="{'is-selected':item.brand_code === form_brand}">
                        <div class="good-make-wrap brand-wrap" >
                           <img mat-card-image src='assets/quote/logo/{{item.brand_logo}}' alt='{{item.brand_name}}'>
                           <div class="brand-name">{{item.brand_name}}</div>
                        </div>
                        </a>
                     </div>
                  </ng-container>
               </div>
            </div>
         </mat-step>

         <mat-step [stepControl]="modelFormGroup" [editable]="isEditable">
         <a href="JavaScript:void(0);" (click)="goBackward()" area-label="back">
            <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_left icon">keyboard_arrow_left</mat-icon>
         </a>
         <div class="topic">
            <!-- <h1>What is your car’s model?</h1> -->
            <p style="font-size:16px !important;margin-top:4px;display:block;font-weight:bold;">What is your car’s model?</p>
         </div>
         <form [formGroup]="modelFormGroup">
            <ng-template matStepLabel matTabContent>
               <span [ngClass.lt-md]="{'hideme':true}" *ngIf="modelName.length>12;else modelNameTooltip"
               matTooltipClass="example-tooltip-red" matTooltip="{{modelName}}" [matTooltipPosition]="'above'"
               class="example-button">{{modelName| slice:0:12}}..</span>
               <ng-template #modelNameTooltip>
                  <div>{{modelName}}</div>
               </ng-template>
            </ng-template>
            <div fxFlex="100%" fxFlexFill>
               <ng-select #modelSelect style="margin-top: 50px;padding-right: 10x;font-size: 13px;text-align: left;"
               [virtualScroll]=true [items]="totalModelList" bindLabel="name"
               (change)="modelTapped($event.model_name,$event.model_code);track_button('create-model-btn');" dropdownPosition="bottom"
               [appendTo]="'body'" placeholder="Not in the list? Find your car's model here"></ng-select>
            </div>
         </form>
         <div class="good-make" id="top-model" style="margin-top: 10px" >
            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center" class="top-model__item" data-txt="AVEO"
               id="model_AVEO" data-val="undefined" style="margin-top:30px">
               <div *ngFor="let item of topModelList | slice:0:15; let i=index" [ngClass]="{'is-selected':item.model_code === form_model}"
               style="width: 110px" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
               fxFlex.lt-md="0 1 calc(50% - 22px)" fxFlex.lt-sm="50%"
               (click)="move(3);modelTapped(item.model_name,item.model_code);track_button('create-model-btn')">
               <span class="example-button">{{item.model_name}}</span>
            </div>
         </div>
         <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center" class="top-model__item">
            <div (click)="focusModle()" style="width: 100%" class="good-make-wrap img-wrap"
               fxFlex="0 1 calc(33% - 32px)" fxFlex.lt-md="0 1 calc(50% - 22px)" fxFlex.lt-sm="100%">
               Others
            </div>
         </div>
      </div>
         </mat-step>

         <mat-step [stepControl]="fuelFormGroup" [editable]="isEditable">
         <a href="JavaScript:void(0);" (click)="goBackward()" area-label="back">
            <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_left icon">keyboard_arrow_left</mat-icon>
         </a>
         <div class="topic">
            <!-- <h1>What's type of fuel ?</h1> -->
            <p style="font-size:16px !important;margin-top:4px;display:block;font-weight:bold;">What's type of fuel ?</p>
         </div>
         <form [formGroup]="fuelFormGroup">
            <ng-template matStepLabel matTabContent>
               <span [ngClass.lt-md]="{'hideme':true}" class="example-button">{{fuelName}}</span>
            </ng-template>
            <div class="good-make" id="Fuel">
               <div fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayout.xs="row" fxLayoutGap="22px" fxLayoutAlign="center"
                  class="top-model__item" data-txt="AVEO" id="model_AVEO" data-val="undefined">
                  <div *ngFor="let item of totalFuelList" [ngClass]="{'is-selected':item.fuel_type_text === form_fuel}"
                  class="good-make-wrap img-wrap" fxFlex="0 1 calc(32% - 32px)" fxFlex.lt-md="0 1 calc(50% - 22px)"
                  fxFlex.lt-sm="100%" (click)="move(4);fuelTapped(item.fuel_type_text,item.fuel_type,item.model_code);track_button('create-fuel-btn')">
                  <div class="good-make-wrap">
                     <!-- <img alt="Chevrolet" src="assets/quote/img/{{item.fuel_logo}}" alt="{{item.fuel_logo}}"> -->
                     <div style="text-align: center">{{item.fuel_type_text}}</div>
                  </div>
               </div>
            </div>
      </div>
      </form>
         </mat-step>

         <mat-step [stepControl]="variantFormGroup" [editable]="isEditable">
         <a href="JavaScript:void(0);" (click)="goBackward()" area-label="back">
            <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_left icon">keyboard_arrow_left</mat-icon>
         </a>
         <div class="topic">
            <!-- <h1>What's your car's variant?</h1>  -->
            <p style="font-size:16px !important;margin-top:4px;display:block;font-weight:bold;">What's your car's variant?</p>
         </div>
         <form [formGroup]="variantFormGroup">
            <ng-template matStepLabel matTabContent>
               <span [ngClass.lt-md]="{'hideme':true}" *ngIf="variantName.length>12;else variantNameTooltip"
               matTooltipClass="example-tooltip-red" matTooltip="{{variantName}}" [matTooltipPosition]="'above'"
               class="example-button">{{variantName| slice:0:12}}..</span>
               <ng-template #variantNameTooltip>
                  <div>{{variantName}}</div>
               </ng-template>
            </ng-template>
            <div fxFlex="100%" fxFlexFill>
               <ng-select #variantSelect style="margin-top: 50px;padding-right: 10x;font-size: 13px;text-align: left;"
               [virtualScroll]=true [items]="totalVariantList" bindLabel="name" dropdownPosition="bottom"
               [appendTo]="'body'" (change)="variantTapped($event.id,$event.variant_name,$event.cubic_capacity);track_button('create-variant-btn')"
               placeholder="Not in the list? Find your car's Variant"></ng-select>
            </div>
         </form>
         <div class="good-make" id="variant" style="margin-top:30px">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="22px" fxLayoutAlign="center"
               class="top-model__item" data-txt="AVEO" id="model_AVEO" data-val="undefined">
               <div *ngFor="let item of topVariantList | slice:0:15; let i=index" style="width: 110px" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 18px)"
               fxFlex.lt-md="0 1 calc(50% -15px)" fxFlex.lt-sm="50%"
               [ngClass]="{'is-selected':item.variant_code === form_variant}" class="good-make-wrap img-wrap"
               fxFlex="0 1 calc(33% - 18px)" fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%"
               (click)="move(5);variantTapped(item.id,item.variant_name,item.variant_code,item.cubic_capacity);track_button('create-variant-btn')">
               <span class="example-button">{{item.variant_name}} ({{item.cubic_capacity}} CC)</span>
            </div>
         </div>
         <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center" class="top-model__item">
            <div (click)="focusVariant()" style="width: 100%" class="good-make-wrap img-wrap"
               class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)" fxFlex.lt-md="0 1 calc(50% - 22px)"
               fxFlex.lt-sm="100%">
               Others
            </div>
         </div>
      </div>
         </mat-step>

         <mat-step [stepControl]="regisFormGroup" [editable]="isEditable">
         <a href="JavaScript:void(0);" (click)="goBackward()" area-label="back">
            <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_left icon">keyboard_arrow_left</mat-icon>
         </a>
         <div class="topic">
            <!-- <h1>What is your car registration location?</h1>  -->
            <p style="font-size:16px !important;margin-top:4px;display:block;font-weight:bold;">What is your car registration location?</p>
         </div>
         <form [formGroup]="regisFormGroup">
            <ng-template matStepLabel matTabContent>
               <span [ngClass.lt-md]="{'hideme':true}" class="example-button">{{registrationName}}</span>
            </ng-template>
            <ng-select formControlName="regisCtrl" #rtoSelect [selectOnTab]=false [appendTo]="'body'"
            style="margin-top:60px;padding-right: 10x;font-size: 13px;text-align: left;" [virtualScroll]=true
            [items]="totalRtoList" bindLabel="name" (change)="registrationTapped($event.id);focusCursorRegdate();track_button('create-rto-btn')"
            dropdownPosition="bottom" placeholder="Not in the list? type your RTO code here" (close)="get_rto_list()"  (input)="rtoMasking($event.target.value,$event,rtoSelect)">
            </ng-select>
            <div class="good-make" id="Registration" style="margin-top:15px" fxLayout.lt-sm="column">
               <div fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutGap="22px" fxLayoutAlign="center"
                  class="top-model__item" data-txt="AVEO" id="model_AVEO" data-val="undefined">
                  <div (click)="focusRto('5550')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.xs="0 1 calc(33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 22px)" fxFlex.lt-sm="100%">Delhi
                  </div>
                  <div (click)="focusRto('2526')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%">Kolkata
                  </div>
                  <div (click)="focusRto('5355')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%">Mumbai
                  </div>
                  <div (click)="focusRto('5603')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%">Bangalore
                  </div>
                  <div (click)="focusRto('1819')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%">Hyderabad
                  </div>
                  <div (click)="focusRto('4395')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%">Shimla
                  </div>
                  <div (click)="focusRto('3873')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%">Pune
                  </div>
                  <div (click)="focusRto('931')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%">Chandigarh
                  </div>
                  <div (click)="focusRto('1890')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(33% - 32px)"
                     fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%">Jaipur
                  </div>
               </div>
               <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center" class="top-model__item">
                  <div (click)="focusRto('')" style="width: 100%" class="good-make-wrap img-wrap"
                     fxFlex="0 1 calc(33% - 32px)" fxFlex.lt-md="0 1 calc(50% - 22px)" fxFlex.lt-sm="100%">
                     Others
                  </div>
               </div>
            </div>
            <div *ngIf="form_premium_type==1">
               <div class="topic">
                  <!-- <h1>What is your car registration Year?</h1> -->
                  <p style="font-size:15px !important;margin-top:4px;display:block;font-weight:bold;">What is your car registration Year?</p>
               </div>
               <p>
                  <mat-form-field appearance="outline" fxFlex id="remove-margin">
                     <mat-label>Find your year of registration here</mat-label>
                     <mat-select #rtoYrSelect formControlName="regisYrCtrl" placeholder="Select your registration year"
                        #singleSelect>
                        <mat-option *ngFor="let item of regYearDropdown" (click)="goForward();contactTapped(item)"
                        [value]="item">
                        {{item}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </p>
               <div class="good-make" id="regyear"  style="margin-top:-9px"  fxLayout.lt-sm="column">
                  <div fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutGap="22px" fxLayoutAlign="center"
                     class="top-model__item" data-val="undefined">
                     <ng-container *ngFor="let item of regYearDropdown; let i = index" >
                        <div *ngIf="i<8" (click)="contactTapped(item);goForward();track_button('create-reg-btn')" class="good-make-wrap img-wrap" fxFlex="0 1 calc(22% - 32px)"
                        fxFlex.xs="0 1 calc(33% - 10px)" fxFlex.lt-md="0 1 calc(50% - 22px)" fxFlex.lt-sm="100%">{{item}}
                  </div>
                  </ng-container>
                  <div (click)="focusRegdate()" style="width: 100%" class="good-make-wrap img-wrap"
                     fxFlex="0 1 calc(33% - 32px)" fxFlex.lt-md="0 1 calc(50% - 22px)" fxFlex.lt-sm="100%">
                     Others
                  </div>
               </div>
               <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center" class="top-model__item">
               </div>
            </div>
            </div>
            <div>
               <button mat-button class="contact100-form-btn" type="submit" matStepperNext>
               &nbsp; &nbsp;&nbsp; Save &
               Continue &nbsp;&nbsp;&nbsp;</button>
            </div>
         </form>
         </mat-step>

         <mat-step [stepControl]="contactFormGroup" id="last-s" completed="false">
            <a (click)="goBackward()" href="JavaScript:void(0);" area-label="back">
               <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_left icon">keyboard_arrow_left</mat-icon>
            </a>
            <div class="topic">
               <!-- <h1>Please Provide the Information</h1> -->
               <p style="font-size:16px !important;margin-top:4px;display:block;font-weight:bold;">Please Provide the Information</p>
            </div>
            <form [formGroup]="contactFormGroup" (ngSubmit)="contactFormSubmit();" >
            <mat-form-field appearance="outline" class="mat-form-field-select-margin">
               <mat-label >Your Mobile Number</mat-label>
               <input formControlName="mobileNoCtrl" matInput placeholder="Please Enter Your Mobile Number"
               maxlength="10" type="number" (input)="checkLength($event.target.value,10)" #custMobileNo >
            </mat-form-field>
            <mat-form-field appearance="outline">
               <mat-label>Your Email Id</mat-label>
               <input formControlName="emailCtrl" matInput placeholder="Please Enter Your Email Id">
            </mat-form-field>
            <div *ngIf="form_premium_type==1">
               <mat-form-field appearance="outline" *ngIf="!dont_have_prev_policy">
                  <mat-label>Expiry Date</mat-label>
                  <input [min]="expireMinDate" [max]="expireMaxDate" formControlName="expiryDate" matInput [matDatepicker]="picker" date=true (focus)="picker.open()"
                  placeholder="Please Select Policy Expiry Date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
               </mat-form-field>
               <mat-checkbox style="margin-bottom: 9px;" *ngIf="IS_LIVE!=2" [checked]="dont_have_prev_policy" (change)="prevPolicyCheck($event)">I don't have previous year policy
               </mat-checkbox>
               <mat-form-field appearance="outline" *ngIf="!dont_have_prev_policy" style="margin-top: 15px;">
                  <mat-label>Have you made any claim on last year?</mat-label>
                  <mat-select formControlName="lastClaim" placeholder="Last Claim Taken?">
                     <mat-option value="1">Yes</mat-option>
                     <mat-option value="0" >No</mat-option>
                  </mat-select>
               </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!contactSubmitLoader">
               <div>
                  <button mat-button class="contact100-form-btn" style="height: 45px !important;" type="submit">&nbsp;&nbsp;&nbsp;Continue to View
                  Quotes&nbsp;&nbsp;&nbsp;</button>
               </div>
            </div>
            <div fxLayout="row" style="height: 80px;margin-top: -45px" fxLayoutAlign="center center" *ngIf="otp_msg">
               <p style="margin-top: 50px;color: #e20e0e;">{{otp_msg}}
               <p>
            </div>
            <div fxLayout="row" style="height: 80px;margin-top: -45px" fxLayoutAlign="center center" *ngIf="contactSubmitLoader">
               <div id="registration-loader" style="text-align:center">
                  <div class="loader">Loading...</div>
               </div>
            </div>
            </form>
         </mat-step>

         </mat-horizontal-stepper>

      </div>
   </div>



<!-- <ng-container *ngIf="white_label==0"> -->
<footer id="footer">
   <div class="footer-top bg-color">
         <div class="container">
            <div class="row d-block footer-ml">
               <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" class="footer-mr">
                        <img  src="assets/ginteja-logo.svg" alt="ginteja-Logo" class="img-fluid ginteja-Logo">

                     <div class="social-links text-center mt-4">
                     <a href="" class="facebook" target="_blank">
                        <img  src="assets/quote/img/twittrs.png" alt="ginteja-Logo" class="img-fluid">
                     </a>
                        <a href="" class="twitter" target="_blank">
                           <img  src="assets/quote/img/fb.png" alt="ginteja-Logo" class="img-fluid">
                        </a>

                        <a href="" class="instagram" target="_blank">
                           <img  src="assets/quote/img/linkedin.png" alt="ginteja-Logo" class="img-fluid">
                        </a>
                        <a href="" class="linkedin" target="_blank">
                           <img  src="assets/quote/img/instragram.png" alt="ginteja-Logo" class="img-fluid">
                        </a>
                     </div>
               </div>

               <div class="footer-link-header" fxFlex="25" fxFlex.xs="100" fxFlex.sm="100">
                     <h3>Get Insured</h3>
                     <ul class="foot-link">
                        <li>
                           <a href="javascript:void(0);" ng-click="pageNavigation('car-insurance')"><mat-icon>keyboard_arrow_right</mat-icon> Car Insurance</a>
                        </li>
                        <li>
                           <a href="javascript:void(0);" ng-click="pageNavigation('bike-insurance')">
                                 <mat-icon>keyboard_arrow_right</mat-icon> Bike Insurance
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0);" ng-click="pageNavigation('life-insurance')">
                                 <mat-icon>keyboard_arrow_right</mat-icon> Life Insurance
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0);" ng-click="pageNavigation('health-insurance')"><mat-icon>keyboard_arrow_right</mat-icon> Health Insurance</a>
                        </li>
                        <li>
                           <a href="javascript:void(0);" ng-click="pageNavigation('term-insurance')"><mat-icon>keyboard_arrow_right</mat-icon> Term Insurance</a>
                        </li>
                        <li>
                           <a href="javascript:void(0);" ng-click="pageNavigation('travel-insurance')"><mat-icon>keyboard_arrow_right</mat-icon> Travel Insurance</a>
                        </li>
                     </ul>
                     <div class="pt-5">
                        <a href="https://www.irdai.gov.in/" target="_blank">
                           <img src="assets/irda.png" class="img-fluid irda-logo">
                        </a>
                     </div>
               </div>

               <div class="footer-link-header" fxFlex="25" fxFlex.xs="100" fxFlex.sm="100">
                     <h3>Quick Links</h3>
                     <ul class="foot-link">
                        <li><a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon>Home</a></li>
                        <li><a href="javascript:void(0);"><mat-icon>keyboard_arrow_right</mat-icon> About Us</a></li>
                        <li><a href="https://blog.gintejainsurance.com/" target="_blank"><mat-icon>keyboard_arrow_right</mat-icon> Blog</a></li>
                        <li><a href="javascript:void(0);" ng-click="pageNavigation('claim')"><mat-icon>keyboard_arrow_right</mat-icon> Claim</a></li>

                        <li>
                           <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#PolicyCancellation">
                              <mat-icon> keyboard_arrow_right </mat-icon> Policy Cancellation
                                 &amp; Refund
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0);">
                           <mat-icon> keyboard_arrow_right </mat-icon> Careers</a>
                        </li>

                        <li>
                           <a href="javascript:void(0);">
                              <mat-icon> keyboard_arrow_right </mat-icon> POSP Agreement</a>
                        </li>

                        <li>
                           <a href="javascript:void(0);">  <mat-icon> keyboard_arrow_right </mat-icon> Grievance Policy</a>
                        </li>

                        <li>
                           <a href="javascript:void(0);" ng-click="pageNavigation('privacy-policy')">
                              <mat-icon> keyboard_arrow_right </mat-icon> Privacy &amp; Policy</a>
                        </li>

                        <li>
                           <a href="https://blog.gintejainsurance.com/annual-return/" target="_blank">
                              <mat-icon> keyboard_arrow_right </mat-icon> Annual Return</a>
                        </li>

                        <li>
                           <a href="javascript:void(0);" ng-click="pageNavigation('disclaimers')">
                              <mat-icon> keyboard_arrow_right </mat-icon>  Disclaimer</a>
                        </li>
                     </ul>
               </div>

               <div class="footer-link-header" fxFlex="25" fxFlex.xs="100" fxFlex.sm="100">
                     <div class="footer-contact position-relative">
                        <h3>Ginteja Insurance Brokers Private Limited</h3>
                        <p class="my-1">
                           <small class="footer-fz">IRDAI Broker Registration Code: IRDAI/DB918/2022</small>
                        </p>
                        <p class="mb-1 footer-fz"><small>Registration No: 828</small></p>
                        <p class="mb-1 footer-fz"><small>Direct Broker (Life &amp; General)</small></p>
                        <p class="mb-1 footer-fz"><small>Valid upto: 03/07/2025</small></p>
                        <p class="mb-1 footer-fz"><small>CIN No. - U66000WB2021PTC243249</small></p>
                        <h3 class="mb-3 mt-4">
                           Contact Us
                        </h3 >
                        <li class="mb-3">
                           <mat-icon>
                           location_on
                           </mat-icon>
                           <span class="footer-fz">Registered Office : 25D, Harish Mukherjee Road 1E, 1st Floor Kolkata 700025</span>
                        </li>
                        <li class="mb-3">
                           <mat-icon>phone_in_talk</mat-icon>
                           <span class="footer-fz">
                                 080 6905 7777
                           </span>
                           </li>
                        <li class="mb-3">
                           <mat-icon>phone_in_talk</mat-icon>
                           <span class="footer-fz">
                                 1800 3099 444
                           </span>
                           </li>

                           <li class="mb-3">
                              <mat-icon>mail</mat-icon>
                                 <span class="footer-fz">help@ginteja.com</span>
                           </li>
                     </div>
               </div>
            </div>

            <p class="quote-footer footer-ml">
               <small>Insurance is the subject matter of the solicitation. For more details on policy terms, conditions, exclusions, limitations, please refer/read policy brochure carefully before concluding sale</small>
            </p>
            <hr>
             <p class="quote-footer footer-ml">Ginteja Insurance Brokers Private Limited. All rights Reserved Copyright © 2022</p>
         </div>
   </div>
</footer>

<!-- <button [@modalButton]="isShow" *ngIf="isShowOffer" mat-fab="" color="none" aria-label="Example icon button with a bookmark icon" class="mat-focus-indicator mat-fab mat-button-base mat-accent" (click)="offerModalOpen()" style="position: fixed;
    background-image: url(assets/quote/img/auto-icon.png); background-size: contain; background-color: #fff; width: 132px; height: 138px; background-repeat:no-repeat;z-index: 1;" class="offer-click auto-position">
</button> -->


<!-- *ngIf="isShow" -->
<!-- <div class="myModal" [@content]="isShow" [ngClass]="modalClass">
   <div class="content my-modal-container" style="width: auto; border-radius: 45px;width: auto; max-width: 425px; border-radius: 45px;">
      <div>
         <button mat-fab="" color="none" aria-label="Example icon button with a bookmark icon" class="mat-focus-indicator mat-button-base mat-accent"
            style="float: right; background-color: #8d8d8dc6; margin: -56px -40px 0 0; color: #fff; border-radius: 50%;" (click)="offerModalClose()">
            X
         </button>
      </div>
      <div class="container">
         <div fxFlex="100" *ngIf="autoOfferContentImgOrText">
            <img style="cursor: pointer; max-width:100%; border-radius: 6%;" src="assets/quote/img/win.jpg" (click)="showImgOrTestData(false)">
         </div>
         <div fxFlex="100" *ngIf="!autoOfferContentImgOrText">
            <img style="cursor: pointer; max-width:100%; border-radius: 6%;" src="assets/quote/img/step.jpg">

            <div class="example-button-row" style="float:right;">
               <button mat-raised-button color="warn" (click)="redirctCampaignPage();" style="    padding: 0 18px;
               border-radius: 12px;
               overflow: visible;
               transform: translate3d(0,0,0);
               transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
               margin-top: 13px;">Play Now & Win</button>
            </div>
         </div>
      </div>
   </div>
</div> -->

<!-- <div class="my-loader" *ngIf="!isReady">
  Loading....
</div> -->
