<!-- <button mat-raised-button>
</button>
<mat-horizontal-stepper class="proposal-header" linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (ngSubmit)="checkProposalFormGroupFirst()">
      <ng-template matStepLabel>Fill out your Details</ng-template>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Full Name" formControlName="custName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder=" Email Id" formControlName="custEmail" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Mobile Number" formControlName="custMob" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cuntry Code" formControlName="custCuntryCode" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Continue</button>
        <button mat-button matStepperPrevious (click)="close()">No Thanks</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup" (ngSubmit)="checkProposalFormGroupSecond()">
      <ng-template matStepLabel>Enter Your Pin Code</ng-template>
      <mat-form-field>
        <input matInput type="number" placeholder="Enter your pincode" formControlName="custPinCode"
          class="text-uppercase" required (input)="checkLengthPinCode()" #custPinCode>
        <mat-hint align="start">Your pincode Ex: 400601</mat-hint>
      </mat-form-field>
      <div class="row">
        <button mat-button matStepperNext type="submit" [disabled]="proposalFormSubmitBtn">Submit
        </button>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper> -->

<div class="container">
  <app-proposal-form></app-proposal-form>
</div>