/* @media(max-width:1280px){

    /deep/footer .mat-expansion-panel-header{
     background: #263b4e;
   }
   /deep/footer  .mat-expansion-panel-header-title {
     color: rgba(255, 255, 255, 0.87);
 }

 /deep/footer  .mat-expansion-indicator::after, .mat-expansion-panel-header-description{  color: rgba(255, 255, 255, 0.87);}
 .desk-footer{display: block !important;}
 
 .links_1 li a {
  color: #263b4e !important;
  font-weight: bold;
  font-size: 13px
 }
 footer .mat-expansion-indicator::after, .mat-expansion-panel-header-description{
  color: rgb(255, 255, 255) !important;
}
   }
   /deep/ 
   footer .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
     background: #0b1e2f  !important;
 }

 .container{max-width: 1200px; margin:auto;} */

.footer-width{
  width:90%;
  margin: 0 auto;
}
 .foot-link{padding:0;}
.foot-link li{list-style-type: none;}
.foot-link .mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: #673AB7;
  height: 37px;
  width: 22px;
  position: relative;
  left: 0px;
  font-size: 23px;
  color: #cc0001;
  top: 6px;
  float: none;
}

.social-links {margin-left: 75px;}
.footer-top{margin-top: 15px;
  padding-top: 25px;}
  .foot-link a{font-size: 15px; text-decoration: none;}

  .footer-contact li{font-size: 13px;
    list-style-type: none;
    line-height: 20px;
    font-weight: bold;
    display: flex;
    margin-bottom: 20px;
 }
  .footer-contact li .mat-icon{padding-left: 0;
    padding-right: 12px;}
    .footer-mr{
      margin-right: 48px;
    }
    
    
h3 {
  font-size: 18px !important;
  font-weight: 700;
}
    @media(max-width:425px){
      .img-wrap{
        border-radius: 22px;
      }
      .d-block{
        display: block !important;
      }
      .ginteja-Logo{
        width: 60%;
      }
      .social-links{
        margin-left:0px;
        }
        .footer-ml{
          margin-left: 10px;
        }
      }
    /* @media(min-width:769px) and (max-width:1024px){
      .contact100-form-btn{
        width:90% ;
        }
      }
    @media(min-width:426px) and (max-width:768px){
      .contact100-form-btn{
        width:83% ;
        }
        .car_img_width{
          width:400px !important;
        }
      }
    @media(min-width:321px) and (max-width:375px){
      .contact100-form-btn{
        width:83% ;
        }
      }
    @media(max-width:320px){
      .contact100-form-btn{
        width:98% ;
        }
      } */