<div class="loader-box">
  <div class="pic">
      <span class="skeleton skeleton-pic"></span>
  </div>
  <div class="plan-label">
      <span class="skeleton skeleton-desc1"></span>
    <span class="skeleton skeleton-title"></span>
    <div class="row">
      <span class="skeleton skeleton-action"></span>
      <span class="skeleton skeleton-action"></span>
    </div>
    <span class="skeleton skeleton-desc"></span>
  </div>
  <div class="details">
      <div class="text">
      </div>
      <div class="action">
        <span class="skeleton skeleton-desc"></span>
          <span class="skeleton skeleton-title1"></span>
          <span class="skeleton skeleton-action"></span>
      </div>
  </div>
</div>