.skeleton {
    background-color: #ccbfbf;
    animation: skeleton-loading 1s linear infinite alternate
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.loader-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .pic {
        width: 30%;
        margin-right: 10px;

        .skeleton-pic {
            display: block;
            height: 50px;
            width: 100px;
            border-radius: 7px;
        }
    }
    .details { 
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            margin-right: 10px;

            .skeleton-title {
                display: block;
                height: 15px;
                width: 120px;
                border-radius: 4px;
                margin-bottom: 10px;
            }

            .skeleton-desc {
                display: block;
                height: 10px;
                width: 100px;
                border-radius: 4px;
            }
        }

        .action {
            .skeleton-action {
                display: block;
                height: 30px;
                width: 80px;
                border-radius: 7px;
            }
        }
    }
}