<div class="loader-box">
    <div class="pic">
        <span class="skeleton skeleton-pic"></span>
    </div>
    <div class="plan-label">
      <span class="skeleton skeleton-text"></span>
    </div>
    <div class="details">
        <div class="text">
            <span class="skeleton skeleton-title"></span>
            <span class="skeleton skeleton-desc"></span>
        </div>
        <div class="text">
            <span class="skeleton skeleton-desc"></span>
        </div>

        <div class="action">
            <span class="skeleton skeleton-title"></span>
            <span class="skeleton skeleton-action"></span>
        </div>
    </div>
</div>

<!-- <div class="loader-box">
    <div class="insurers-plan">
      <div class="insurers-plan-top">
        <div class="supp-holder">
          <span class="skeleton skeleton-logo"></span>
        </div>
        <div class="Plan-details-wrapper">
          <div class="Plan-details">
            <div class="plan-info">
              <div class="plan-label hide-l-xs">
                <span class="skeleton skeleton-text"></span>
                <span class="skeleton skeleton-text"></span>
              </div>
              <div class="product-feature">
                <ul class="features-list">
                  <li><span class="skeleton skeleton-text"></span></li>
                  <li><span class="skeleton skeleton-text"></span></li>
                  <li><span class="skeleton skeleton-text"></span></li>
                </ul>
              </div>
            </div>
            <div class="product-actions">
              <div class="warper-top">
                <div class="plan-label">
                  <span class="skeleton skeleton-text"></span>
                </div>
                <div class="plan-label" style="padding-left: 5px;">
                  <span class="skeleton skeleton-text"></span>
                </div>
              </div>
              <div class="warper-middle">
                <span class="skeleton skeleton-button"></span>
              </div>
              <div class="warper-bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  